# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# IDE settings
.idea/
.vscode/

# Packaging/Distribution
build/
dist/
*.egg-info/
.eggs/
.idea/
.ipynb_checkpoints
__pycache__/
.DS_Store

# Log files
*.log